@using KPI_System.Models.Fallas

@model  IEnumerable<SolicitantesPierden>

@{
    ViewBag.Title = "Solicitantes que más Pierden y Dañan Htts";
}

<div class=" d-flex flex-column-fluid">
    <div id="kt_content_container" class="container-fluid">

        <div class="card mb-5">
            <div class="card pt-0 card-flush ">
                <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                    <div class="card-title">
                        <div class="d-flex align-items-center position-relative my-1">
                            <span class="svg-icon svg-icon-1 position-absolute ms-4"><i class="fas fa-search"></i></span>
                            <input type="text" data-kt-filter="search" class="form-control w-250px ps-13 p-2 me-20" placeholder="Filtrar en la tabla">
                        </div>
                        <div id="TablaReporteVentas_export" class="d-none"></div>
                    </div>
                    <div class="text-center fw-bold fs-1"> </div>
                    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                        <button type="button" class="btn btn-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                            <span class="svg-icon svg-icon-1 position-absolute ms-4"></span>
                            <i class="fas fa-download"></i> Exportar Reporte
                        </button>
                        <div id="TablaReporteVentas_export_menu" class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px py-4" data-kt-menu="true">
                            <div class="menu-item px-3">
                                <a href="#" class="menu-link px-3" Ventas-export="excel">
                                    Export as excel &nbsp;&nbsp; <i class="fas fa-file-excel text-success fs-3"></i>
                                </a>
                            </div>
                            <div class="menu-item px-3">
                                <a href="#" class="menu-link px-3" Ventas-export="csv">
                                    Export as csv &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-file-csv text-info fs-3"></i>
                                </a>
                            </div>
                        </div>
                        <div id="TablaReporteVentas_buttons" class="d-none"></div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="my-5">
                        <table id="TablaReporteVentas" class="table table-bordered table-striped border-gray-300 gy-2 gs-2">
                            <thead>
                                <tr class="fw-bold fs-7 text-uppercase text-dark bg-light-primary">
                                    <th class="min-w-150px">ZONA</th>
                                    <th class="min-w-200px">UNIDAD OPERATIVA</th>
                                    <th class="min-w-100px">EQUIPO</th>
                                    <th class="min-w-350px">SOLICITANTE PMX</th>
                                    <th class="min-w-100px">DAÑADAS</th>
                                    <th class="min-w-100px">PERDIDAS</th>
                                    <th class="min-w-100px border-end">TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Division</td>
                                            <td>@item.Zona</td>
                                            <td>@item.Equipo</td>
                                            <td>@item.PersonaPemex</td>
                                            <td>@item.Danadas</td>
                                            <td>@item.Perdidas</td>
                                            <td>
                                                <a class="text-primary text-hover-primary" onclick="GetPerdida('@item.PersonaPemex' )"> @item.Total</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" tabindex="-1" id="ModalDanadasPerdidas" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog mw-950px">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><i class="far fa-thumbs-down fs-1 text-primary me-3"></i><span>Partidas perdidas y Dañadas </span> </h3>
                <a class="btn btn-icon ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x svg-icon-light text-hover-danger"><i class="fas fa-times fs-3"></i></span>
                </a>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="TablaDanadasPerdidas" class="table table-bordered">
                        <thead>
                            <tr class="fw-bold fs-6 text-gray-300 bg-opacity-20 bg-primary ">
                                <th class="text-middle min-w-100px">DIVISION</th>
                                <th class="text-middle min-w-200px">UOP</th>
                                <th class="text-middle min-w-100px">EQUIPO</th>
                                <th class="text-middle min-w-100px">ESTATUS</th>
                                <th class="text-middle min-w-100px">PARTIDA</th>
                                <th class="text-middle min-w-800px">DESCRIPCION</th>
                                <th class="text-middle min-w-350px">SOLICITANTE PMX</th>
                                <th class="text-middle min-w-150px">FECHA</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light p-3 fs-7 me-3" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>

@section scripts {

    <script>
        //********* Start DataTable ReporteVentas****************************************************************************************
        var TablaReporteVentas = function () {
            var table;
            var datatable;

            var initDatatable = function () {
                datatable = $(table).DataTable({
                    "order": [],
                    "info": true,
                    'pageLength': 25,
                    'scrollCollapse': true,
                    "ordering": false
                });
            }

            var exportButtons = () => {
                const documentTitle = 'Reporte Solicitantes que mas pierden htts';
                var buttons = new $.fn.dataTable.Buttons(table, {
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            title: documentTitle
                        },
                        {
                            extend: 'csvHtml5',
                            title: documentTitle
                        }
                    ]
                }).container().appendTo($('#TablaReporteVentas_buttons'));

                const exportButtons = document.querySelectorAll('#TablaReporteVentas_export_menu [Ventas-export]');
                exportButtons.forEach(exportButton => {
                    exportButton.addEventListener('click', e => {
                        e.preventDefault();

                        const exportValue = e.target.getAttribute('Ventas-export');
                        var target = document.querySelector('div[id="TablaReporteVentas_buttons"]');
                        target = target.querySelector('.buttons-' + exportValue);

                        target.click();
                    });
                });
            }

            var handleSearchDatatable = () => {

                const filterSearch = document.querySelector('[data-kt-filter="search"]');
                filterSearch.addEventListener('keyup', function (e) {
                    datatable.search(e.target.value).draw();
                });

            }

            return {
                init: function () {
                    table = document.querySelector('#TablaReporteVentas');

                    if (!table) {
                        return;
                    }

                    initDatatable();
                    exportButtons();
                    handleSearchDatatable();
                }
            };
        }();

        KTUtil.onDOMContentLoaded(function () {
            TablaReporteVentas.init();
        });
        //********* End DataTable ReporteVentas****************************************************************************************


        var tDanadasPerdidas = $('#TablaDanadasPerdidas').DataTable({ "order": [] });

        function GetPerdida(Solicitante) {


            $.ajax({
                url: "/Fallas/GetPerdida",
                type: "post",
                data: {
                    TipoPeticion: 1,
                    Solicitante: Solicitante,
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
            }).done(function (result) {
                if (result != null) {
                    if (result == "SessionExpirada") {
                        SwalSessionExpirada()
                    } else if (result != "Error") {

                        console.table(result)

                        tDanadasPerdidas.clear().draw();

                        for (var i = 0; i < result.length; i++) {
                            tDanadasPerdidas.row.add(
                                [
                                    result[i].DIVISION,
                                    result[i].UOP,
                                    result[i].EQUIPO,
                                    result[i].ESTATUS,
                                    result[i].PARTIDA,
                                    result[i].DESCRIPCION,
                                    result[i].PERSONALPMX,
                                    result[i].FECHA,
                                ]).draw(false);
                        }


                        $("#ModalDanadasPerdidas").modal("show");
                    }
                    else {
                        toastr.error("Error de servidor, por favor contacta al administrador!");
                    }
                }
                else {
                    toastr.error("Error de servidor, por favor contacta al administrador!");
                }
            }).fail(function (xhr, status, error) {
                toastr.error("Error de servidor, por favor contacta al administrador!");
            })


        }


    </script>


}