@using KPI_System.Models.ReporteConsumos
@model ReporteConsumoViewModel

@{
    ViewBag.Title = "REPORTE EJECUTIVO DE VENTAS";
}


<div class="post d-flex flex-column-fluid">
    <div id="kt_content_container" class="container-fluid">
        <div id="">
            <div class="card mb-5">
                <div class="card p-5 mb-0">
                    <form id="FormFechas" method="post">
                        <div class="row">
                            <div class="col-md-1 fv-row">
                                <label class=" fs-7 fw-semibold mb-2">Año: </label>
                                <input name="year" id="year" class="form-control form-control-sm fs-7" placeholder="Año" type="number" min="2023" />
                            </div>
                            <div class="col-lg-2 fv-row pt-8">
                                <button type="submit" id="Search" class="btn btn-primary p-3 fs-8 me-3"><i class="fas fa-chart-line"></i>Generar reporte</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @if (Model.PorZona.Any())
        {
            <div class="" id="CardFiltros">
                <div class="card mb-5">
                    <div class="card pt-0 card-flush ">
                        <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                            <div class="card-title">
                                @*<div class="d-flex align-items-center position-relative my-1">
                                        <span class="svg-icon svg-icon-1 position-absolute ms-4"><i class="fas fa-search"></i></span>
                                        <input type="text" Ventas-filter="search" class="form-control w-250px ps-13 p-2 me-20" placeholder="Filtrar en la tabla" />
                                    </div>*@
                                <div id="TablaReporteVentas_export" class="d-none"></div>
                            </div>
                            <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                                <button type="button" class="btn btn-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                    <span class="svg-icon svg-icon-1 position-absolute ms-4"></span>
                                    <i class="fas fa-download"></i> Exportar Reporte
                                </button>
                                <div id="TablaReporteVentas_export_menu" class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px py-4" data-kt-menu="true">
                                    <div class="menu-item px-3">
                                        <a href="#" class="menu-link px-3" Ventas-export="excel">
                                            Export as excel &nbsp;&nbsp; <i class="fas fa-file-excel text-success fs-3"></i>
                                        </a>
                                    </div>
                                    <div class="menu-item px-3">
                                        <a href="#" class="menu-link px-3" Ventas-export="csv">
                                            Export as csv &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-file-csv text-info fs-3"></i>
                                        </a>
                                    </div>
                                </div>
                                <div id="TablaReporteVentas_buttons" class="d-none"></div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="my-5">


                                <table id="kt_datatable_responsive" class="table table-bordered">
                                    <thead>
                                        <tr class="fw-bold fs-6 text-gray-800">
                                            <th style="background-color: #002060; color: white;" class="min-w-10px"></th>
                                            <th style="background-color: #002060; color: white;"></th>
                                            <th style="background-color: #002060; color: white;">IMPORTE</th>
                                            <th style="background-color: #002060; color: white;">ENERO</th>
                                            <th style="background-color: #002060; color: white;">FEBRERO</th>
                                            <th style="background-color: #002060; color: white;">MARZO</th>
                                            <th style="background-color: #002060; color: white;">ABRIL</th>
                                            <th style="background-color: #002060; color: white;">MAYO</th>
                                            <th style="background-color: #002060; color: white;">JUNIO</th>
                                            <th style="background-color: #002060; color: white;">JULIO</th>
                                            <th style="background-color: #002060; color: white;">AGOSTO</th>
                                            <th style="background-color: #002060; color: white;">SEPTIEMBRE</th>
                                            <th style="background-color: #002060; color: white;">OCTUBRE</th>
                                            <th style="background-color: #002060; color: white;">NOVIEMBRE</th>
                                            <th style="background-color: #002060; color: white;">DICIEMBRE</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.PorZona.Any())
                                        {

                                            foreach (var Zonas in Model.PorZona)
                                            {

                                                <tr class="bg-secondary">
                                                    <td></td>
                                                    <td>@Zonas.ZONA</td>
                                                    <td class="text-end">$@Zonas.IMPORTE.Value.ToString("N2")</td>
                                                    <td class="text-end">$@Zonas.ENERO.Value.ToString("N2")</td>
                                                    <td class="text-end">$@Zonas.FEBRERO.Value.ToString("N2")</td>
                                                    <td class="text-end">$@Zonas.MARZO.Value.ToString("N2")</td>
                                                    <td class="text-end">$@Zonas.ABRIL.Value.ToString("N2")</td>
                                                    <td class="text-end">$@Zonas.MAYO.Value.ToString("N2")</td>
                                                    <td class="text-end">$@Zonas.JUNIO.Value.ToString("N2")</td>
                                                    <td class="text-end">$@Zonas.JULIO.Value.ToString("N2")</td>
                                                    <td class="text-end">$@Zonas.AGOSTO.Value.ToString("N2")</td>
                                                    <td class="text-end">$@Zonas.SEPTIEMBRE.Value.ToString("N2")</td>
                                                    <td class="text-end">$@Zonas.OCTUBRE.Value.ToString("N2")</td>
                                                    <td class="text-end">$@Zonas.NOVIEMBRE.Value.ToString("N2")</td>
                                                    <td class="text-end">$@Zonas.DICIEMBRE.Value.ToString("N2")</td>
                                                </tr>

                                                if (Model.PorUnidadOperativa.Any())
                                                {

                                                    foreach (var Uops in Model.PorUnidadOperativa.Where(Z => Z.IdZONA == Zonas.IdZONA))
                                                    {
                                                        <tr class="bg-light-success">
                                                            <td><a onclick="toggleRow('@Uops.Equipos', '@Uops.IdUOP')" class="btn btn-light-info me-5 p-1 pe-0"><i id="@Uops.IdUOP" class="fas fa-plus-circle fs-3 fw-bold"></i></a></td>
                                                            <td>@Uops.UOP</td>
                                                            <td class="text-end">$@Uops.IMPORTE.Value.ToString("N2")</td>
                                                            <td class="text-end">$@Uops.ENERO.Value.ToString("N2")</td>
                                                            <td class="text-end">$@Uops.FEBRERO.Value.ToString("N2")</td>
                                                            <td class="text-end">$@Uops.MARZO.Value.ToString("N2")</td>
                                                            <td class="text-end">$@Uops.ABRIL.Value.ToString("N2")</td>
                                                            <td class="text-end">$@Uops.MAYO.Value.ToString("N2")</td>
                                                            <td class="text-end">$@Uops.JUNIO.Value.ToString("N2")</td>
                                                            <td class="text-end">$@Uops.JULIO.Value.ToString("N2")</td>
                                                            <td class="text-end">$@Uops.AGOSTO.Value.ToString("N2")</td>
                                                            <td class="text-end">$@Uops.SEPTIEMBRE.Value.ToString("N2")</td>
                                                            <td class="text-end">$@Uops.OCTUBRE.Value.ToString("N2")</td>
                                                            <td class="text-end">$@Uops.NOVIEMBRE.Value.ToString("N2")</td>
                                                            <td class="text-end">$@Uops.DICIEMBRE.Value.ToString("N2")</td>
                                                        </tr>

                                                        foreach (var Equpos in Model.PorEquipo.Where(E => E.IdZONA == Zonas.IdZONA && Uops.IdUOP == E.IdUOP))
                                                        {
                                                            <tr id="@Equpos.IdUOP-@Equpos.EQUIPO" class="d-none">
                                                                <td></td>
                                                                <td>@Equpos.EQUIPO</td>
                                                                <td class="text-end">$@Equpos.IMPORTE.Value.ToString("N2")</td>
                                                                <td class="text-end">$@Equpos.ENERO.Value.ToString("N2")</td>
                                                                <td class="text-end">$@Equpos.FEBRERO.Value.ToString("N2")</td>
                                                                <td class="text-end">$@Equpos.MARZO.Value.ToString("N2")</td>
                                                                <td class="text-end">$@Equpos.ABRIL.Value.ToString("N2")</td>
                                                                <td class="text-end">$@Equpos.MAYO.Value.ToString("N2")</td>
                                                                <td class="text-end">$@Equpos.JUNIO.Value.ToString("N2")</td>
                                                                <td class="text-end">$@Equpos.JULIO.Value.ToString("N2")</td>
                                                                <td class="text-end">$@Equpos.AGOSTO.Value.ToString("N2")</td>
                                                                <td class="text-end">$@Equpos.SEPTIEMBRE.Value.ToString("N2")</td>
                                                                <td class="text-end">$@Equpos.OCTUBRE.Value.ToString("N2")</td>
                                                                <td class="text-end">$@Equpos.NOVIEMBRE.Value.ToString("N2")</td>
                                                                <td class="text-end">$@Equpos.DICIEMBRE.Value.ToString("N2")</td>
                                                            </tr>

                                                        }

                                                    }
                                                }
                                            }

                                        }

                                        @if (Model.Totales.Any())
                                        {
                                            foreach (var Total in Model.Totales)
                                            {

                                                <tr class="bg-light-warning">
                                                    <td></td>
                                                    <td class="text-dark align-middle text-end">TOTAL</td>
                                                    <td class="fs-1 text-danger align-middle text-end">$@Total.IMPORTE.Value.ToString("N2")</td>
                                                    <td class="text-danger align-middle fw-bold text-end">$@Total.ENERO.Value.ToString("N2")</td>
                                                    <td class="text-danger align-middle fw-bold text-end">$@Total.FEBRERO.Value.ToString("N2")</td>
                                                    <td class="text-danger align-middle fw-bold text-end">$@Total.MARZO.Value.ToString("N2")</td>
                                                    <td class="text-danger align-middle fw-bold text-end">$@Total.ABRIL.Value.ToString("N2")</td>
                                                    <td class="text-danger align-middle fw-bold text-end">$@Total.MAYO.Value.ToString("N2")</td>
                                                    <td class="text-danger align-middle fw-bold text-end">$@Total.JUNIO.Value.ToString("N2")</td>
                                                    <td class="text-danger align-middle fw-bold text-end">$@Total.JULIO.Value.ToString("N2")</td>
                                                    <td class="text-danger align-middle fw-bold text-end">$@Total.AGOSTO.Value.ToString("N2")</td>
                                                    <td class="text-danger align-middle fw-bold text-end">$@Total.SEPTIEMBRE.Value.ToString("N2")</td>
                                                    <td class="text-danger align-middle fw-bold text-end">$@Total.OCTUBRE.Value.ToString("N2")</td>
                                                    <td class="text-danger align-middle fw-bold text-end">$@Total.NOVIEMBRE.Value.ToString("N2")</td>
                                                    <td class="text-danger align-middle fw-bold text-end">$@Total.DICIEMBRE.Value.ToString("N2")</td>
                                                </tr>

                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body pt-2">
                    <div class="table-responsive">
                        <div class="table-responsive">
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</div>

@section scripts {

    @*<script src="Metronic/plugins/custom/datatables/datatables.bundle.js"></script>*@

    @*Date picker*@
    <script>
        $(document).ready(function () {
            //Ocultar AsideMenu
            $("#kt_body").attr("data-kt-aside-minimize", "on");
            // Obtén la fecha actual
            const fechaActual = new Date();
            // Obten el año actual
            $("#year").val(fechaActual.getFullYear());
            //Tablas flexibles
            //$('.dataTables_scrollHeadInner').css('max-width', '100%');
            //$('.dataTables_scrollHeadInner').css('min-width', '90%');
        })


        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ////////////////////////////////////////////////////// DATATABLES ///////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


        //********* Start DataTable ReporteRentas****************************************************************************************
        var TablaReporteVentas = function () {
            var table;
            var datatable;

            var initDatatable = function () {
                datatable = $(table).DataTable({
                    //"scrollY": 500,
                    //"scrollX": true,
                    "order": [],
                    "info": true,
                    'pageLength': 100,
                    'scrollCollapse': true,
                    "ordering": false
                    //'fixedColumns': {
                    //    left: 4
                    //},

                });
            }

            var exportButtons = () => {
                const documentTitle = 'Reporte de consumos';
                var buttons = new $.fn.dataTable.Buttons(table, {
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            title: documentTitle
                        },
                        {
                            extend: 'csvHtml5',
                            title: documentTitle
                        }
                    ]
                }).container().appendTo($('#TablaReporteVentas_buttons'));

                const exportButtons = document.querySelectorAll('#TablaReporteVentas_export_menu [Ventas-export]');
                exportButtons.forEach(exportButton => {
                    exportButton.addEventListener('click', e => {
                        e.preventDefault();

                        const exportValue = e.target.getAttribute('Ventas-export');
                        var target = document.querySelector('div[id="TablaReporteVentas_buttons"]');
                        target = target.querySelector('.buttons-' + exportValue);

                        target.click();
                    });
                });
            }
            return {
                init: function () {
                    table = document.querySelector('#kt_datatable_responsive');

                    if (!table) {
                        return;
                    }

                    initDatatable();
                    exportButtons();
                    /*          handleSearchDatatable();*/
                }
            };
        }();

        KTUtil.onDOMContentLoaded(function () {
            TablaReporteVentas.init();
        });
        //********* End DataTable ReporteRentas****************************************************************************************

        function toggleRow(ArregloFilas, IdUop) {

            var Filas = ArregloFilas.split(', ');
            Filas = Filas.map(function (equipo) {
                return equipo.trim();
            });

            const rowToToggle = document.getElementById(`${Filas[0]}`);

            if (rowToToggle.classList.contains('d-none')) {

                Filas.forEach(function (Fila) {
                    $(`#${Fila}`).removeClass('d-none');
                });

                $(`#${IdUop}`).removeClass('fa-plus-circle');
                $(`#${IdUop}`).addClass('fa-minus-circle');
            }
            else {
                Filas.forEach(function (Fila) {
                    $(`#${Fila}`).addClass('d-none');
                });

                $(`#${IdUop}`).addClass('fa-plus-circle');
                $(`#${IdUop}`).removeClass('fa-minus-circle');
            }
        }
    </script>

}


